HTML CSSResult Skip Results Iframe
EDIT ON
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.Bender {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #a6b4c4;
  background-image:
    radial-gradient(
      #a6b4c4,
      #59798e
    );
}
.Bender__eyes {
  width: 400px;
  height: 150px;
  border: 3px solid black;
  border-radius: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bender__socket {
  width: 375px;
  height: 125px;
  border: 3px solid black;
  border-radius: 200px;
  background: black;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.Bender__eye {
  height: 145px;
  width: 145px;
  background: #fefbb8;
  border-radius: 100%;
  margin: -10px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.Bender__eye::before {
  content: '';
  position: absolute;
  width: 145px;
  height: 50px;
  top: -50px;
  background: black;
  animation:  5s ease-in-out 1s infinite topEyelid;
}
.Bender__eye::after {
  content: '';
  position: absolute;
  width: 145px;
  height: 50px;
  bottom: -50px;
  background: black;
  animation:  5s ease-in-out 1s infinite bottomEyelid;
}
.Bender__pupil {
  width: 20px;
  height: 20px;
  background: black;
}
.Bender__mouth {
  width: 275px;
  height: 100px;
  background: #fefbb8;
  margin-top: 80px;
  border-radius: 50px;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
}

.Bender__tooth {
  height: 100px;
  width: 4px;
  background: black;
}


.Bender__lip {
  position: absolute;
  width: 275px;
  height: 4px;
  background: black;
  top: calc(33% - 2px);
}
.Bender__lip:last-of-type {
  top: calc(66% - 2px);
}

@keyframes topEyelid {
  0% {
    transform: translateY(0);
  }
  20% { 
    transform: translateY(50px);
  }
  80% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-0px);
  }
}

@keyframes bottomEyelid {
  0% {
    transform: translateY(0px);
  }
  20% { 
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}